body{
    background-color: cornflowerblue;
    font-size: large;
    }
    .overlock-regular {
        font-family: "Overlock", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
      
      .overlock-bold {
        font-family: "Overlock", sans-serif;
        font-weight: 700;
        font-style: normal;
      }
      
      .overlock-black {
        font-family: "Overlock", sans-serif;
        font-weight: 900;
        font-style: normal;
      }
      
      .overlock-regular-italic {
        font-family: "Overlock", sans-serif;
        font-weight: 400;
        font-style: italic;
      }
      
      .overlock-bold-italic {
        font-family: "Overlock", sans-serif;
        font-weight: 700;
        font-style: italic;
      }
      
      .overlock-black-italic {
        font-family: "Overlock", sans-serif;
        font-weight: 900;
        font-style: italic;
      }
      
header{
  background-color:blue;
  color: white;
  text-align: center;
  font-size: xx-large;
  border-style: solid white;
  }

h1{
   color: white;
   font-weight: bold ;
   font: size 40px;
   border: 4px solid white
  }
h2{
  color: white;
  font-weight: 500;
  text-decoration: underline;
  font: size 40px;
  }
footer p{
  text-align:center;
  color: whitesmoke;
  font-size: x-large;
}
em{
  font-weight: none;
  font-style: italic;
  font-size:x-large;
  color:black ;
  text-decoration: none;
}
strong{
  color:aqua;
}
p{
  line-height: 2;
}
section a{ 
  text-align: justify;
  color:aqua;
  font-size:x-large;
  font-style: bold;
  text-decoration: none;

}
p a{
  color: white;
  font-size: large;
}
section a:hover{
  text-decoration: underline;
}
ol{
  line-height: 2;
}
ul {
  line-height: 2;
}
.video{
  display: block;
  border: 3px solid white;
  margin: 100px 10px;
  padding-top: 10px 10px;
  max-width: 430px;
  
}
.scroll{
  display: block;
  margin: 20px 0px;
  /* padding-top: 20px; */
}
.sunset-image{
  background-image:url("./Images/Sunset\ pic.avif");
  width: 70%;
  height: 620px;
  margin: 0 auto;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  border-width: 50%;
  border: 4px solid white;
}
#Thomas-King{
  text-align: center;
  font-style: italic;
  font-size: 20px;
}
.pic-quote{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 4px solid black
  }
.water-pic{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 4px solid white
}