body{
    background-color: cornflowerblue;
    font-size: large;
    }
    .overlock-regular {
        font-family: "Overlock", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
      
      .overlock-bold {
        font-family: "Overlock", sans-serif;
        font-weight: 700;
        font-style: normal;
      }
      
      .overlock-black {
        font-family: "Overlock", sans-serif;
        font-weight: 900;
        font-style: normal;
      }
      
      .overlock-regular-italic {
        font-family: "Overlock", sans-serif;
        font-weight: 400;
        font-style: italic;
      }
      
      .overlock-bold-italic {
        font-family: "Overlock", sans-serif;
        font-weight: 700;
        font-style: italic;
      }
      
      .overlock-black-italic {
        font-family: "Overlock", sans-serif;
        font-weight: 900;
        font-style: italic;
      }
      
header{
  background-color:blue;
  color: white;
  text-align: center;
  font-size: xx-large;
  border-style: solid white;
  }

h1{
   color: white;
   font-weight: bold ;
   font: size 40px;
   border: 4px solid white
  }
h2{
  color: white;
  font-weight: 500;
  text-decoration: underline;
  font-size: xx-large;
  }
footer p{
  text-align:center;
  color: whitesmoke;
  font-size: x-large;
}
em{
  font-weight: bold;
  font-style: italic;
  font-size:xx-large;
  color:black ;
  text-decoration: underline;
}
strong{
  color:aqua;
}
p{
  line-height: 2;
}
section a{ 
  text-align: justify;
  color:aqua;
  font-size:x-large;
  font-style: bold;
  text-decoration: none;

}
p a{
  color: white;
  font-size: large;
}
section a:hover{
  text-decoration: underline;
}
ol{
  line-height: 2;
}
ul {
  line-height: 2;
}
.video{
  border: 3px solid white;
  margin-top: 40%;
}
.scroll{
  margin-top: 20px;
}