body{
    background-color: cornflowerblue;
    }
    .overlock-regular {
        font-family: "Overlock", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
      
      .overlock-bold {
        font-family: "Overlock", sans-serif;
        font-weight: 700;
        font-style: normal;
      }
      
      .overlock-black {
        font-family: "Overlock", sans-serif;
        font-weight: 900;
        font-style: normal;
      }
      
      .overlock-regular-italic {
        font-family: "Overlock", sans-serif;
        font-weight: 400;
        font-style: italic;
      }
      
      .overlock-bold-italic {
        font-family: "Overlock", sans-serif;
        font-weight: 700;
        font-style: italic;
      }
      
      .overlock-black-italic {
        font-family: "Overlock", sans-serif;
        font-weight: 900;
        font-style: italic;
      }
      
header{
    background-color:blue;
    color: white;
}
h1 {
    color: white;
    }

hi {
    font-weight: bold ;
}
h2 {
    color: white;
}
h2 {
  font-weight: 500;
}

footer p{
  text-align:center;
  color: whitesmoke;
}
em{
  font-weight: bold;
  font-style: italic;
  font-size:large;
  color:black ;
}
strong{
  color:aqua;
}
p{
  line-height: 2;
}
a section{ 
  text-align: justify;
  color:lawngreen 
}

a section{
  font-size: 700;
}
